.auth_form {
    border: 5px solid var(--primary-color);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    margin: 1em;
    padding: 0.5rem;
    background: var(--primary-color);
    color: var(--text-color);
}

.auth_form a {
    color: var(--highlight-color);
}

.auth_form_text {
    all: unset;
    border: 3px solid var(--secondary-color);
    min-height: 2em;
}
.auth_form_text:focus {
    border: 3px solid var(--highlight-color);
    outline: none;
}

.auth_form_button {
    all:unset;
    border: 5px solid var(--secondary-color);
    border-radius: 1em;
    max-width: 55%;
    cursor: pointer;
    margin-left: 22.5%;
    padding: 0.3rem;
    background: var(--secondary-color);
    color: var(--primary-color);
}

.auth_form_button:hover {
    background: lightgrey;
}

.auth {
    width: 100%;
}

.auth h1 {
    background: var(--primary-color);
    color: var(--text-color);
    border: 5px solid var(--secondary-color);
    border-radius: 1em;
}

@media (min-width: 599px) {
    .auth {
        width: 40%;
    }
}