.room {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

h1 {
    background: var(--primary-color);
    color: var(--text-color);
    border: 5px solid var(--secondary-color);
    border-radius: 1em;
}

.users {
    flex: 1;
    height: 10%;
    overflow: scroll;
    border: 5px solid var(--primary-color);
    border-radius: 1em;
    margin: 1em;
    max-height: 10vh;
    color: var(--primary-color);
}

.message_core {
    display: flex;
    flex-direction: column;
    max-height: 70vh;
}

.messages {
    flex: 1;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: visible;
    border: 5px solid var(--primary-color);
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    overflow-wrap: break-word;
    word-break: break-word;
}
.hide_on_desktop {

}
.header {
    color: var(--text-color);
    text-align: right;
    margin: 1em;
}

.send_message {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    margin: 0.1em 1em 1em;
    max-height: 8vh;
}
.send_message_text {
    border: 3px solid var(--primary-color);
    width: 85%;
    max-height: 7.7vh;
    border-right: none;
    font-size: 200%;
    background: var(--secondary-color);
}
.send_message_text:focus {
    border: 3px solid var(--highlight-color);
    outline: none;
}
.send_message_button {
    margin: 0;
    padding: 0;
    background: none;
    font: inherit;
    width: 7.4vh;
    border: 3px solid var(--primary-color);
    background: gray;
    height: 7.4vh;
    cursor: pointer;
}
.send_message_button:hover {
    background: lightgrey;
}
.send_message_icon  {
    width: 40%;
    height: 40%;
    transform: rotate(180deg);
    margin-top: 0.1rem;
}

.mininav_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    gap: 1em;
    color: var(--text-color);
}
.mininav_item {
    flex: 1;
    margin: 0;
    background: none;
    font: inherit;
    align-self: flex-end;
    border: 5px solid var(--secondary-color);
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    color: var(--text-color);
    background: var(--primary-color);
}
.mininav_item:hover {
    background: gray;
}

@media (min-width: 599px)  {
    .header {
        text-align: left;
        margin: 1em 1em 1em 2em;
    }
    .room {
        margin: 1em;
        flex-direction: row;
        justify-content: space-between;
    }
    .users {
        max-width: 20%;
        height: 77.7vh;
        max-height: 80vh;
    }
    .message_core {
        width: 75%;
        max-height: 80vh;
    }
    .messages {
        max-height: 100%;
    }
    .send_message_text {
        width: 100%;
        font-size: 230%;
        height: 4.55rem;
        max-height: 5rem;
    }
    .send_message_button {
        height: 5rem;
        width: 5rem;
    }
    .hide_on_desktop {
        display: none;
    }
    .mininav_container {
        justify-content: flex-start;
    }
}

@media print {
    :root {
        display: none;
    }
}